<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Cura Prefix</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.curam73.cura_prefix">
        </div>

        <label class="control-label">Update Interval</label>
        <div class="controls">
            <input type="number" class="input-block-level" min="1" max="120" data-bind="value: settings.plugins.curam73.update_interval">
        </div>
    </div>
</form>